body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/*Banner Style*/
#banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 550px;
    width: 1250px;
}
.banner-text{
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.banner-text h1{
    font-size: 50px;
    font-weight: 700;
}
.banner-text p{
    font-size: 15px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

