body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/*Banner Style*/
#banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 550px;
    width: 1250px;
}
.banner-text{
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.banner-text h1{
    font-size: 50px;
    font-weight: 700;
}
.banner-text p{
    font-size: 15px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

/*donation style*/
#donation{
    text-align: center;
}
#donation .donation-header h4{
    font-size: 40px;
    color: black;
    margin-top: 80px;
    margin-bottom: 25px;
}
#donation .donation-header p{
    font-size: 20px;
    color: #2b2727;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    color: green;
    font-weight: 400;
    border-radius: 5px;
}
#donate-plan{
    text-align: center;
}
#donate-plan h4{
    font-size: 40px;
    color: black;
    margin-top: 80px;
    margin-bottom: 25px;
}
#donate-plan p{
    font-size: 20px;
    color: #2b2727;
}
.section-tow{
    margin-top: 70px;
    padding: 50px;
}
.card1{
    width: 400px;
    height: 300px;
    background-color: rgb(200, 241, 228);
    border: 1px solid antiquewhite;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

